<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            body{
                background-color: aqua;
            }
            table, th, td {
                border: 1px solid black;
            }
        </style>
        <meta charset="UTF-8">
        <title>ng-smac</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="scripts/controllers/smacController.js"></script>
    <script src="scripts/services/smacFactory.js"></script>
    <script src="scripts/services/smacService.js"></script>
    <body ng-app="ngSmac" ng-controller="smacController">
        <h1><center>Using Factory</center></h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Project</th>
                    <th>Practice</th>
                </tr>
                <tr ng-repeat="smac in smacFactoryData">
                    <td><span>{{smac.name}}</span></td>
                    <td><span>{{smac.project}}</span></td>
                    <td><span>{{smac.practice}}</span></td>
                </tr>
            </table>
        <hr/>
        <hr/>
        <h1><center>Using Http Service</center></h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Project</th>
                <th>Practice</th>
            </tr>
            <tr ng-repeat="smac in smacServiceData">
                <td><span>{{smac.name}}</span></td>
                <td><span>{{smac.project}}</span></td>
                <td><span>{{smac.practice}}</span></td>
            </tr>
        </table>
    </body>
    </body>

</html>





















